<div *ngIf="hasError" class="notification is-danger" id="notification">
  <button class="delete" (click)="closeNotify()"></button>
  {{errorMessage}}
</div>
<div class="column"></div>
<div class="column is-one-quarter">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <p class="control">
        <input class="input" type="text" placeholder="Username" formControlName="username">
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input class="input" type="password" placeholder="Password" formControlName="password">
      </p>
    </div>
    <label class="checkbox">
      <input type="checkbox" formControlName="rememberMe">
      Remember me
    </label>
    <div class="field">
      <p class="control">
        <button type="submit" class="button is-success">
          Login
        </button>
      </p>
    </div>
  </form>
</div>


