<div class="columns">
    <div class="column is-third">
        
      </div>
      <div class="column is-third has-background-primary-light height-100" name="mainColumn">
        <strong>Hello</strong>, My name is Lazar Pejovic and this is my first web application using Angular and Spring Boot done for my final project in Logate 
        Accademy. If you are interested in code written for this app you can check my github repository for Angular 
        <a href="https://github.com/LazoP7/AccedeProjectAngular"> here </a> or my repository for Spring Boot
        <a href="https://github.com/LazoP7/AccedeProjectSpringBoot"> here </a>.

      </div>
      <div class="column is-third">
        
      </div>
</div>