<div *ngIf="hasError" class="notification is-danger" id="notification">
  <button class="delete" (click)="closeNotify()"></button>
  {{errorMessage}}
</div>

<div class="columns is-mobile height = 100%" name = "mainColumn" >
    <div class="column is-one-quarter has-background-light height = 100% is-mobile ">
      <div class="my-google-map">
        <google-map class="google-map" width="100%" height="375px" [options] = "mapOptions">
          <map-marker *ngFor="let marker of markers" [position]="marker.position" [title]="marker.title" [options]="marker.options" (mapClick)="openLocationTT(marker.title)"></map-marker>
        </google-map>
      </div>
    </div>
  <div class="column is-multiline has-background-primary-light height-100" name="mainColumn2">
      <div class="selectedLocation">
        {{ selectedLocationNameUpdated }}
      </div>
      <hr class="main-divider">
      <div *ngFor="let match of displayedMatches">
        <nav class="panel" *ngIf="match.open == true">
          <div class="panel-heading has-background-light">
            {{ match.date | date:'MMM dd, yyyy HH:mm' }} || {{ match.locationName.name }} || {{match.players.length}}/{{ match.num_of_players}} || {{matchType}}
          </div>
          <table class="table is-fullwidth">
            <thead>
              <tr>
                <th>Match players</th>
              </tr>
            </thead>
            <tbody *ngFor="let player of match.players; let i = index">
              <tr class="table-row">
                {{ player.name }} "{{ player.username }}" {{ player.surname }}
                <div *ngIf="checkAuth()">
                  <div id="playerNumDD" class="dropdown is-hoverable is-up" *ngIf="user && user?.username === match.players[0]?.username && i === 0">
                    <div id="playerNumDD" class="dropdown-trigger">
                      <button id="playerNumDD" class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
                        <img id="playerNumIcon" src="../../assets/playernumbicon.png">
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu2" role="menu">
                      <div class="dropdown-content" >
                        <button id="playerNumSel" *ngFor="let size of matchSizes" (click)="setMatchSize(size, match)">{{size}}</button>
                      </div>
                    </div>
                  </div>    
                  <button id="kickPlayerButton" *ngIf="user && user?.username === match.players[0]?.username && i > 0" (click)="kickPlayer(player, match)">
                    <img id="redX" src="../../assets/redX.webp">
                  </button>
                </div>                
              </tr>
              <hr id="player-divider">
            </tbody>
          </table>

          <div class="panel-block">
            <div class="column height-10">
              <button class="button is-link is-outlined is-fullwidth" 
                      [ngClass]="{'is-danger': isUserInMatch(match)}"
                      (click)="toggleJoinLeave(match)">
                {{ isUserInMatch(match) ? 'Leave match' : 'Join match' }}
              </button>
            </div>
          </div>
        </nav>
        <hr class="main-divider">
      </div>
    
      <mat-paginator [length]="totalItems"
                     [pageSize]="itemsPerPage"
                     [pageSizeOptions]="itemsPerPageOptions"
                     [pageIndex]="currentPage"
                     (page)="pageUpdate($event)">
      </mat-paginator>
  </div>
    <div class="column is-one-quarter has-background-light 100%" name = "mainColumn">
      <div class="find-a-match is-size-4 has-text-centered">
        Find a match
      </div>
      <div class="location">
        Location:
        <div class="dropdown is-hoverable">
          <div class="dropdown-trigger">
            <button class="button-location" aria-haspopup="true" aria-controls="dropdown-menu">
              <span class="location-show-name">{{selectedLocationName}}</span>
              <span class="icon is-small">
                <i class="fa-angle-down" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item" *ngFor="let location of locationForType" (click)="setMatchLocation(location.name)">
                <div class="location-name-select">
                  {{location.name}}            
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="date is-size 6">
        Day:
        <input type="date" id="dateTable"  [min]="minDate()" [max]="maxDate()" >
      </div>
      <button type="submit" class="button is-success" (click)="SearchBy()">
        Search
      </button>
    </div>
</div>