* { padding: 1px; margin: 0; }

.column[name = "mainColumn"]{
  min-height: 100vh;
}


.main-divider{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000;
    margin: 1em 0;
    padding: 0;
}

.button-location {
  display: flex;
  align-items: center;
}

.dropdown-menu{
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

.location {
  display: flex;
  align-items: center;
}

.location-show-name {
  margin-right: 0.5rem; 
}

.location .dropdown-content {
  white-space: normal;
}

.location-name-select {
  display: inline-block;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  padding: 8px; 
  border-bottom: 1px solid #ddd; 
  transition: background-color 0.3s; 
}

.location-name-select:hover {
  background-color: #f5f5f5; 
}

.dropdown-item:last-child .location-name-select {
  border-bottom: none; 
}

.dropdown-item {
  white-space: normal; 
}



* {
  box-sizing: border-box;
}
.google-map{
  max-width: 600px !important;
}

.selectedLocation{
  margin-top: 10px;
}


.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.table-row button {
  margin-left: 10px; 
}


#player-divider {
  width: 100%; 
}

#kickPlayerButton{
  border: 0px;
  background-color: white;
}

#redX {
  max-height: 20px; 
  max-width: 20px;  
}

#playerNumDD{
  border: 0;
  background-color: white;
  height: 100%;
}

#playerNumIcon{
  max-height: 20px; 
  max-width: 20px;
}

#playerNumSel{
  background-color: hsl(171, 100%, 96%);
  width: 20px;
  border-width: 1px;
}

.is-danger {
  color: white;
  background-color: red;
}

